.svsfc-chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #ccc;
    padding: 10px;
    background: #d6d5d5cf;
}

.svsfc-bar {
    width: 200px;
    background-color: #007bff;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
}

.svsfc-label {
    font-size: 12px;
    font-weight: bold;
}
